/* 59 */
@media only screen and (max-width: 1400px) {
    .home_content.home1.custom_width {
        width: 71%;
    }
}
/* 80 */
@media only screen and (max-width: 1366px) {
    .home_content.home1.custom_width {
        width: 73%;
    }
}

/* 128 */
@media only screen and (max-width: 1280px) {
    header.header-nav.menu_style_home_one a.navbar_brand {
        margin-top: 21px;
    }
}

/* 254 */
@media only screen and (max-width: 1199.98px) {
    header.header-nav.menu_style_home_one a.navbar_brand {
        margin-top: 21px;
    }
}

/* 456 */
@media only screen and (max-width: 1024px) {
    header.header-nav.menu_style_home_one a.navbar_brand {
        margin-top: 15px;
    }
}

/* 469 */
@media only screen and (max-width: 1024px) {
    header.header-nav a.navbar_brand {
        margin-right: 20px;
    }
}

/* 547 */
@media only screen and (max-width: 991px) {
    .dn-md, .dn-991 {
        display: none !important;
    }
}