/* CSS Document */
@import url(../css/menu.css);
@import url(../css/ace-responsive-menu.css);
@import url(../css/simplebar.min.css);
@import url(../css/flaticon.css);

/*==  Typography ==*/
@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Cerebri-Sans/CerebriSans-Light.eot);
    src: url(../fonts/Cerebri-Sans/CerebriSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Cerebri-Sans/CerebriSans-Regular.eot);
    src: url(../fonts/Cerebri-Sans/CerebriSans-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Cerebri-Sans/CerebriSans-Bold.eot);
    src: url(../fonts/Cerebri-Sans/CerebriSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


/* 152 */
body {
    background-attachment: fixed;
    background-color: #FFFFFF;
    color: #777777;
    font-family: Cerebri Sans;
    font-size: 14px;
    line-height: 1.642;
    overflow-x: hidden;
    transition: all .4s ease;
}

/* 189 */
img {
    max-width: 100%;
}

/* 208 */
a {
    color: #555555;
    text-decoration: none;
}

/* 216 */
a img {
    border: none;
}


/* 235 */
::selection {
    background: #0D263B;
    color: #FFFFFF;
    text-shadow: none;
}

/* === HEADER  ===*/

/* 1192 */
header.header-nav {
    padding: 0 30px;
}

/* 1198 */
header.header-nav a.navbar_brand {
    display: flex;
    margin-right: 37px;
    position: relative;
}

/* 1297 */
header.header-nav.menu_style_home_one a.navbar_brand {
    margin-top: 20px;
}

/* 1308 */
header.header-nav.menu_style_home_one a.navbar_brand span {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
    padding-left: 10px;
    text-transform: capitalize;
}