/* CSS Document */
@import url(../css/font-awesome.min.css);
@import url(../css/menu.css);
@import url(../css/ace-responsive-menu.css);
@import url(../css/simplebar.min.css);
@import url(../css/flaticon.css);

/*==  Typography ==*/
@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Cerebri-Sans/CerebriSans-Light.eot);
    src: url(../fonts/Cerebri-Sans/CerebriSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Cerebri-Sans/CerebriSans-Regular.eot);
    src: url(../fonts/Cerebri-Sans/CerebriSans-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Cerebri-Sans/CerebriSans-Bold.eot);
    src: url(../fonts/Cerebri-Sans/CerebriSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


/* 152 */
body {
    background-attachment: fixed;
    background-color: #FFFFFF;
    color: #777777;
    font-family: Cerebri Sans;
    font-size: 14px;
    line-height: 1.642;
    overflow-x: hidden;
    transition: all .4s ease;
}

/* 189 */
img {
    max-width: 100%;
}

/* 198 */
ul, ol{
    list-style: none;
}

/* 208 */
a {
    color: #555555;
    text-decoration: none;
}

/* 212 */
a:hover, a:focus {
    color: #333333;
    text-decoration: none;
    outline: none;
}

/* 216 */
a img {
    border: none;
}


/* 235 */
::selection {
    background: #0D263B;
    color: #FFFFFF;
    text-shadow: none;
}

/* === HEADER  ===*/

/* 1192 */
header.header-nav {
    padding: 0 30px;
}

/* 1198 */
header.header-nav a.navbar_brand {
    display: flex;
    margin-right: 37px;
    position: relative;
}

/* 1218 */
header.header-nav.menu_style_home_one ul.ace-responsive-menu li.add_listing {
    background-color: #FFFFFF;
    border-radius: 3px;
    height: 45px;
    position: relative;
    text-align: center;
    top: 18px;
    width: 168px;
}

/* 1231 */
header.header-nav.menu_style_home_one ul.ace-responsive-menu li.add_listing a {
    color: #0061DF;
    font-family: Cerebri Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    top: -20px;
}

/* 1254 */
header.header-nav.menu_style_home_one ul.ace-responsive-menu li.add_listing a span.icon {
    vertical-align: middle;
    margin-right: 5px;
}



/* 1297 */
header.header-nav.menu_style_home_one a.navbar_brand {
    margin-top: 20px;
}

/* 1308 */
header.header-nav.menu_style_home_one a.navbar_brand span {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
    padding-left: 10px;
    text-transform: capitalize;
}

/* 1347 */
header.header-nav.menu_style_home_one .ace-responsive-menu li a {
    color: #FFFFFF;
}

/* 1634 */
header.header-nav.menu_style_home_one .ace-responsive-menu > li > a {
    font-family: Cerebri Sans;
    padding: 33px 10px 30px;
    text-transform: uppercase;
}

/* 1645 */
header.header-nav.menu_style_home_one .ace-responsive-menu > li > a::before {
    position: absolute;
    content: "";
    background-color: #FFFFFF;
    height: 2px;
    width: 0px;
    bottom: 25px;
    left: 10px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

/* 1660 */
header.header-nav.menu_style_home_one .ace-responsive-menu > li:hover a::before {
    opacity: 1;
    width: 40%;
}

/* 2005 */
header.header-nav.menu_style_home_one li.list_c a span {
    vertical-align: middle;
}

/* 2008 */
header.header-nav.menu_style_home_one li.list_c a::before, 
header.header-nav.menu_style_home_one li.list_s a::before {
    display: none;
}

/* 2450 */
.home_content {
    padding: 340px 0 400px;
}

/* 2453 */
.home_content.home1.custom_width {
    margin: 0 auto;
    width: 67%;
}

/* 4433 */
.home-one {
    margin-top: -96px;
    padding: 0;
}

/* 4619 */
.home1-overlay{
    position: relative;
}

/* 4621 */
.home1-overlay::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: rgb(13, 38, 59);
    opacity: 0.5;

}

/* 15518 */
.btn {
    border-radius: 3px;
}

/* 16001 */
.posr {
    position: relative;
}

/* 16658 */
.mr-7 {
    margin-right: 7px;
}

/* 16933 */
.bg-home1 {
    background-image: url(../images/home/1.jpg);
    background-size: cover;
    background-position: center center;
    height: 860px;

}